/****** Topics Menu *******/
.topicsMenu{
  /* color:#e7e9ec; */
  padding:15px;
}
.topicsMenu h2{
  margin:0 0 10px 0;
  color:#134E5E;
} 

.topicsMenu a{
  color:#093637;
} 
.topicsMenu .active {
  font-weight: 700;
} 

.topicsMenuWrapper{
  display: grid;
  width:95%;
  max-width:800px;
  margin:0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 200px 200px 200px; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  gap: 10px 10px;
  padding:10px 0 10px 0;
  background-color: #fff;;
}


/****** Subjects/Topics *******/

#topic{
  margin:15px auto;
  width:100%;
 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  /* border-bottom: 1px solid #ccc; */
  padding-bottom:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.flex{
  display:flex;
}

#topic > div{
  width:50%;
}

#topic > div:first-child{
  width:100%;
}

#topic h2{
  width:100%;
  text-align: center;
  background-color: #134E5E;
  background: linear-gradient(to left, #203A43, #2C5364);
  color:#e7e9ec;
}

#topic h4{
  text-align: left;
}

.subjects h4::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block; 
  text-rendering: auto;
  font-variant: normal;
  line-height: 1;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2em;
  margin:0 7px 0 5px;
  color:#134E5E;
  content: "\f075"; /* Comment */
  content: "\f086"; /* Comments */
}

.subjects{
  padding-left:25px;
  gap:15px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.subjects > div {
  cursor: pointer;
}

.subjects > div:hover {
  opacity: 0.75;
}


/******* POST FORM ****/

.subjectForm{
  padding-right:25px;
}

.subjectForm form{
  display: grid;
  flex-direction: column;
  text-align: left;
  justify-content:space-around;
  gap:10px;
  /* padding:0 0 0 30px;
  padding:0 0 0 15%; */
  /* width:95%; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  /* background-color: #134E5E; */
}

.subjectForm form div:last-child{
  justify-self: end;
}

.subjectForm input, .subjectForm textarea  {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 0.9rem;
  color: #1b2d2d;
  font-family: inherit;
}

.subjectForm button {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #7a7e84 #797c82 #5a5959#5a5959;
  border-width: 1px;
  border-radius: 3px;
  color: #414e4e;
  font-size: 0.9rem;
  padding: 5px 15px;
  text-align: center;
  justify-self: end;
}

.subjectForm button:hover {
  border-bottom-style: solid;
  border-bottom-color: #a2a6ac;
}


/*******POSTS ******/

.post{
  width:95%;
  height:auto;
  font-size: 1em;
  color:#33353d;
  /* background: radial-gradient(circle, #8aecce 0%, #6be8c3 51%, #6be8c3 100%); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  margin:20px auto;
  /* background: linear-gradient(20deg,#00467F, #A5CC82); */
  /* background: linear-gradient(70deg, #203A43, #2C5364); */
  /* color:#fff; */
} 

.post a{
  color:#fff;
}

.postHeader{
  background-color: #d7d7d7;
  background: var(--message-gradient);
  color:#fff;
  padding:5px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.postHeader h5{
  color:#fff;
  font-size: 1rem;
  margin:0;
}

.postSubject{
  font-style: italic;
  font-family: var(--body-font);
}

.postBody{
  background-color: var(--message-background);
  display: flex;
  
}
.userInfo{
  width:150px;
  padding:10px;
}

.userName{
  padding:0 30px 0 30px;
  cursor: pointer;
  white-space: nowrap; 
}

.userImg{
  width:120px;
  text-align: center;
}

.postText{
  font-family: var(--body-font);
  padding:10px;
  max-width:97%;
  padding:10px 20px;
}

.postFooter{
  background: var(--message-gradient);
  padding:5px 20px;
  color:#fff;
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  display:flex;
  font-size: 0.9rem;
  
}

.postFooter .postTopic{
  color:#fff;
  cursor: pointer;
}

.postFooter span:hover{
  color:#71fff6;
  cursor: pointer;
  opacity:0.75;
  
}

.postFooter .postSubject{
  color:#f9fcee;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
}
/* .postFooter .postSubject:hover{
  color:#f9fcee;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
  opacity:0.75;
} */


.footerLink{
  color:#fff;
  cursor: pointer;
}

/* .postFooter a{
  color:#fff;
  font-weight: bold;
} */

/* .message button{
  padding:3px 8px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .35rem;
  align-self:flex-end;
  font-size: 0.8rem;
}

.message a{
  color:#eaeaea;
  text-decoration: none;
}

.message a:hover{
  color:#eaeaea;
  text-decoration: underline;
} */