#loginContainer h1,
#registerContainer h1,
#editUserContainer h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#loginContainer form,
#registerContainer form,
#editUserContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#loginContainer label,
#registerContainer label,
#editUserContainer label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

#loginContainer input[type='text'],
#loginContainer input[type='password'],
#registerContainer input[type='text'],
#registerContainer input[type='password'],
#editUserContainer input[type='text'],
#editUserContainer input[type='password'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
}

#loginContainer button,
#registerContainer button,
#editUserContainer button {
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  margin-top: 5px;
  width: 120px;
}

#loginContainer button:hover,
#registerContainer button:hover,
#editUserContainer button:hover {
  opacity: 0.8;
}

/*** Tillfälligt ***/
#loginContainer,
#registerContainer,
#editUserContainer {
  max-width: 400px;
  margin: 00px auto;
  margin-bottom: 20px;
}

.imageOptions {
  display: flex;
  justify-content: space-between;
}

.regImageRadio,
.editImageRadio {
  display: none;
}

.regImageLabel,
.editImageLabel {
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.regImageLabel.active,
.editImageLabel.active {
  border-color: #333;
  border-radius: 5px;
}

.regImageLabel img,
.editImageLabel img {
  display: block;
  width: 100px;
  height: auto;
}

#toastContainer {
  position: fixed;
  bottom: 50px;
  left: 10px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}

.toastMessage {
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  pointer-events: none;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, transform 0.5s ease-in-out;
  opacity: 1;
}



/* Profile */

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfileInfo {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.userProfileComments {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentHeader p {
  margin: 0;
}

.commentBody {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.commentUserInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* FAQ */
.faqContainer {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
}


.faqContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.faqQuestion {
  margin-bottom: 20px;
}


.faqQuestion h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.faqQuestion p {
  font-size: 16px;
  color: #555; 
}


/* Contact */
#contactForm {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}


#contactForm label {
  display: block; 
  margin-bottom: 10px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%; 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

#contactForm button[type="submit"] {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}


#contactForm button[type="submit"]:hover {
  background-color: #0056b3; 
}
