#loginContainer h1,
#registerContainer h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#loginContainer form,
#registerContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#loginContainer label,
#registerContainer label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

#loginContainer input[type="text"],
#loginContainer input[type="password"],
#registerContainer input[type="text"],
#registerContainer input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
}

#loginContainer button,
#registerContainer button {
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  margin-top: 5px;
  width: 120px;
}

#loginContainer button:hover,
#registerContainer button:hover {
  opacity: 0.8;
}

/*** Tillfälligt ***/
#loginContainer,
#registerContainer {
  max-width: 400px;
  margin: 00px auto;
}

.imageOptions {
  display: flex;
  justify-content: space-between;
}

.imageRadio {
  display: none;
}

.imageLabel {
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.imageLabel.active {
  border-color: #333;
  border-radius: 5px;
}

.imageLabel img {
  display: block;
  width: 100px;
  height: auto;
}
