* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font:"Noto Sans", sans-serif;
  --body-font:"Assistant", sans-serif;
  --main-bg-color:#2C5364;
  --main-gradient-bg-color:linear-gradient(to left, #2C5364,#203A43);
  --bg-color:linear-gradient(to left, #203A43, #2C5364);
  --graident-bg-color: linear-gradient(to left,#44A08D, #093637);
  --alternativ-bg-color: linear-gradient(#37ADB2, #329CA0);
  --alternativ-bg-color2: linear-gradient(20deg,#22c1c3, #fdbb2d);    --message-gradient: linear-gradient(70deg, #203a4396, #2c536465);
  --message-background: #6aa4bd2c;
}

html {
  font-size: 14px; 
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

h1 {
  font-size: 1.3rem;
  margin: 1.5em 0 0.5em 0;
}

h2 {
  font-size: 1.2rem;
  margin: 1em 0 0.5em 0;
}

h3{
  margin-top:0;
}

p {
  font-family: var(--body-font);
  margin-bottom: 15px;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

img{
  max-width:100%;
}

a{
  color:#0F2027;
  text-decoration: none;
}
a:hover{
  /* opacity: 0.6; */
  text-decoration: underline;
}

.hide{
  display: none;
}

input{
  font-family: var(--main-font);
  padding:2px;
  width:250px;
}

button{
  padding:5px 10px 5px 10px;
  cursor: pointer;
  background-color: #fff;;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .35rem;
  align-self:flex-end;
}

ul a .active {
  font-weight: 700;
} 




/****** Header & Menu *******/

header{
  width: 100%;
  position: fixed;
}

header{
  background-color: #00BAF0;
  background: linear-gradient(to left, #F78FAD, #FDEB82);
  background: linear-gradient(5deg, #036564, #033649);
  background: linear-gradient(#8360c3, #2ebf91);
  background: linear-gradient(20deg,#8360c3, #2ebf91);
  background: linear-gradient(20deg,#108dc7, #ef8e38);
  background: linear-gradient(20deg,#16A085, #F4D03F);
  background: linear-gradient(20deg,#1D976C, #93F9B9);
  background: linear-gradient(to left,#44A08D, #093637);
  background: var(--graident-bg-color);
  background: var(--main-gradient-bg-color);
  color:#0076a5;
  color: #FFF;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  height: 50px;
  padding: 1em;
  text-align: center;
}

.mainMenu{
  flex-direction: row;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu > li a{
  color:#FFF;
  font-weight: 400;
  text-decoration: none;
}

.menu > li a:hover{
  text-decoration: underline;
}

.search{
  display:flex;
  justify-content: space-between;
}

#user{
  width:30%;
  width:200px;
  font-size: 1.2em;
}
#user a{
  color:#fff;
}


#user a::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block; 
  text-rendering: auto;
  font-variant: normal;
  line-height: 1;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2em;
  margin:0 7px 0 5px;
  color:#fff;
  
  content: "\f21b";
  content: "\f118";
  content: "\f505";
  content: "\f2bd"; /* User circle*/
  content: "\f007";
}


/******* Main *********/

.pageWrapper{
  display:flex;
  justify-content: center;
  padding-top:50px;
}

main{
  width:80%;
  margin:0 auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* padding:0 20px 0 20px; */
}



/****Footer *****/

.mainFooter {
  background-color:#fff;
  background: var(--graident-bg-color);
  /* background: var(--main-gradient-bg-color); */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  height: 50px;
  padding: 1.4em;
  flex-shrink: 0;
  margin-top: 40px;
  margin-top: auto;
}

.copyright {
  font-size: 0.7em;
}

.mainFooter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px 15px;
}

.mainFooter a {
  color:#fff;
}

.mainFooter a:hover {
  color: #fff;
}



/********************* MEDIA QUERIES ****************/

/* 
@media only screen and (min-width: 701px) {

  #pageWrapper{
    width:100%;
  }



} */
