* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font:"Noto Sans", sans-serif;
  --body-font:"Assistant", sans-serif;
  --main-bg-color:#2C5364;
  --main-gradient-bg-color:linear-gradient(to left, #2C5364,#203A43);
  --bg-color:linear-gradient(to left, #203A43, #2C5364);
  --graident-bg-color: linear-gradient(to left,#44A08D, #093637);
  --alternativ-bg-color: linear-gradient(#37ADB2, #329CA0);
  --alternativ-bg-color2: linear-gradient(20deg,#22c1c3, #fdbb2d);    --message-gradient: linear-gradient(70deg, #203a4396, #2c536465);
  --message-background: #6aa4bd2c;
}


html {
  font-size: 14px; 
  font-family: var(--main-font);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .dummy{
  display:none;
} */


h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

h1 {
  font-size: 1.3rem;
  margin: 1.5em 0 0.5em 0;
}

h2 {
  font-size: 1.1rem;
  margin: 1em 0 0.5em 0;
}

h3{
  margin-top:0;
}

p {
  font-family: var(--body-font);
  margin-bottom: 7px;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

img{
  max-width:100%;
}

a{
  color:#0F2027;
  color:#093637;
  color:#0a5254;
  text-decoration: none;
}

a:hover{
  /* opacity: 0.6; */
  text-decoration: underline;
}

.hide{
  display: none !important;
}

input{
  font-family: var(--main-font);
  padding:3px;
}

#search input{
  font-family: var(--main-font);
  width:250px;
}

.searchIcon {
  /* display:inline-block; */
  position: relative;
}

.searchIcon:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 6px;
  margin-top:-24px;
  color:#0F2027;
}

button{
  padding:5px 10px 5px 10px;
  cursor: pointer;
  background-color: #fff;;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .35rem;
  /* align-self:flex-end; */
}



/****** Header & Menu *******/

header{
  width: 100%;
  position: fixed;
}

header{
  background-color: #093637;
  /* background: linear-gradient(20deg, #c31432, #240b36); */
  background: linear-gradient(to left,#44A08D, #093637);
  background: var(--graident-bg-color);
  background: var(--main-gradient-bg-color);
  color:#0076a5;
  color: #fff;
}

header a{
  color:#fff;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  height: 50px;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu > li a{
  font-weight: 400;
  text-decoration: none;
}

.menu > li a:hover{
  text-decoration: underline;
}

ul a .active {
  font-weight: 700;
} 


.search{
  display:flex;
  justify-content: space-between;
}

#topMenuUser{
  width:30%;
  width:200px;
  font-size: 1.1em;
}

#topMenuUser a::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block; 
  text-rendering: auto;
  font-variant: normal;
  line-height: 1;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.1em;
  margin:0 7px 0 5px;
  color:#fff;
  
  content: "\f21b";
  content: "\f118";
  content: "\f505";
  content: "\f2bd"; /* User circle*/
  content: "\f007";
}


/******* Main *********/

.pageWrapper{
  display:flex;
  justify-content: center;
  padding-top:50px;
}

main{
  width:80%;
  min-height:80vh;
  margin:0 auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* padding:0 20px 0 20px; */
  
}

#start{
  margin:0 auto;
  width: 80%;
  max-width:800px;
  text-align: center;
}

/******* Aside *********/

aside{
  padding:20px;
  width:20vw;
  max-width:220px;
  /* height: 100vh; */
  font-family: var(--main-font);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3d4dc 0%, #edf1f4 74%);
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3dcdc 0%, #edf1f4 74%);
  /* background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%); */
  /* background: linear-gradient(20deg, #c31432, #240b36);
  color:#fff; */
}
/* aside a{
  color:#fff;
} */



/****Footer *****/

.mainFooter {
  background-color:#fff;
  background: var(--graident-bg-color);
  /* background: var(--main-gradient-bg-color); */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  height: 50px;
  padding: 1.4em;
  flex-shrink: 0;
  margin-top: 40px;
  margin-top: auto;
  flex-shrink: 0;
}

.copyright {
  font-size: 0.7em;
}

.mainFooter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px 15px;
}

.mainFooter a {
  color:#fff;
}

.mainFooter a:hover {
  color: #fff;
}



/********************* MEDIA QUERIES ****************/


@media only screen and (max-width: 601px) {

  #search{
    width:150px;
    width:50%;
  }

  #search input{
    width:150px;
  }



  #topMenuUser{
    font-size:0.9rem;
    width:20%;
    display:none;
  }

  .pageWrapper{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }


  aside{
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    width:100vw;
    max-width: 100%;
  }

  aside img{
    max-height: 30vw;
    margin:0 auto;
  }

  .userMenu {
    width:50%;
    border-right: 1px solid #ccc;
    display:flex;
    flex-direction: column;
  }

  .users {
    width:40% !important;
    border-top: none !important;
    
    margin: 0 auto;
    padding-top: 0;
    padding-left: 15px;
  }

}
